<!DOCTYPE html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Yanir Shuval WEB submission #3</title>
        <link rel="stylesheet" href="CV.css">
        <script src="CV.js"></script>

</head>
<body onload="titleChange()">
    <div id="Title", class="Title">
        <h1 id=yanirHeader style="color: rgb(224, 221, 221); font-size: xx-large; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; text-align: center;"> Yanir Shuval</h1>
    </div>

   
    <div class="grid-container">
        <div class="item1">Education</div>
        <div class="item2">Employment History</div>
        <div class="item3">Military Experience</div>
        <div class="item4">Skills</div>
        <div class="item5">Languages</div>
    </div>

    <form style="text-align: center;"> 

        

        <h1>Contact</h1>
        <label for ="First_Name"> First name</label>
        <input type="text" id="First_Name" name="First_Name"><br> <br> 
        <label for ="Last_Name">Last Name</label>
        <input type="text" name="Last_Name" id="Last_Name"><br><br> 
        <label for ="Last_Name">Email Adress</label>
        <input type="text" name="Email Adress" id="Email Adress"><br><br> 
        <label for ="Comments">Comments</label><br>
        <textarea name = "comment" id="comment" cols="50" rows="10"></textarea><br><br> 
        <input type = "submit"><br>  
    </form>
</body>
</html>